body {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    background-color: slategray
}

/*----------Heading*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    border: 5px solid #ffd700;
    background-color: lightblue;
    color: red;
    height: auto;
    width: 50%;
    margin-left: 550px;
}

/*---------Game Layout*/
.game-area {
    width: 75%;
    background-color: lightgray;
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border: 8px solid #000000;
}

.image {
    position: relative;
    width: 65%;
    height: 65%;
}

.game-area .control1 {
    position: absolute;
    width: 2%;
    top: 22%;
    left: 37%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control2 {
    position: absolute;
    width: 2%;
    top: 33%;
    left: 37%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control3 {
    position: absolute;
    width: 2%;
    top: 43%;
    left: 37%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control4 {
    position: absolute;
    width: 2%;
    top: 22%;
    left: 48%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control5 {
    position: absolute;
    width: 2%;
    top: 33%;
    left: 48%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control6 {
    position: absolute;
    width: 2%;
    top: 43%;
    left: 48%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control7 {
    position: absolute;
    width: 2%;
    top: 22%;
    left: 61%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control8 {
    position: absolute;
    width: 2%;
    top: 33%;
    left: 61%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .control9 {
    position: absolute;
    width: 2%;
    top: 43%;
    left: 61%;
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

/*-------------- Scoring*/
.scores {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 5px solid #000000;
    background-color: white;
    font-weight: bold;
    font-size: x-large;
}

.player {
    background-color: white;
    float: left;
    width: 20%;
    border: 5px solid #000000;
}

#player-score {
    color: green;
    font-weight: bold;
}

.opponent {
    background-color: white;
    float: right;
    width: 20%;
    border: 5px solid #000000;
}

#opponent-score {
    color: red;
    font-weight: bold;
}

.score-area {
    font-size: medium;
}

#message {
    height: 80px;
}