body {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    background-color: slategray
}

/*----------Heading*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    border: 5px solid #ffd700;
    background-color: lightblue;
    color: red;
    height: auto;
    width: 50%;
    margin-left: 550px;
}

/*---------Game Layout*/
.game-area {
    background-color: lightgray;
    position: center;
    margin-left: 130px;
    margin-right: 130px;
    padding: 1%;
    border: 8px solid #000000;
}

.image {
    position: relative;
    width: 75%;
    height: 85%;
}

.image1 {
    position: absolute;
    width: 4%;
    height: 6%;
    top: 65%;
    left: 48%;
}

.game-area .btn--white1 {
    position: absolute;
    top: 27%;
    left: 29%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white2 {
    position: absolute;
    top: 39%;
    left: 29%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white3 {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white4 {
    position: absolute;
    top: 27%;
    left: 48%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white5 {
    position: absolute;
    top: 39%;
    left: 48%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white6 {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white7 {
    position: absolute;
    top: 27%;
    left: 67%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white8 {
    position: absolute;
    top: 39%;
    left: 67%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn--white9 {
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(1px, 1px);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 5px;
    border: 2px solid #ffd700;
    cursor: pointer;
    border-radius: 3px;
}

.game-area .btn:hover {
    background-color: lightgrey;
}

/*-------------- Scoring*/
.scores {
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 50px;
    border: 5px solid #000000;
    background-color: lightgray;
    font-weight: bold;
    font-size: x-large;
}

#scored {
    color: green;
    font-weight: bold;
}

#saved {
    color: red;
    font-weight: bold;
}

.score-area {
    font-size: medium;
}

/* -----------Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding: 5px;
    width: 70px;
}

/* -------------Offset */

/* -------------Media Queries */

@media screen and (max-width:1705px) {
    h1 {
        text-align: center;
        font-size: 2.5rem;
        text-decoration: underline;
        border: 5px solid #ffd700;
        background-color: lightblue;
        color: red;
        width: 25%;
        margin-left: 20px;
    }

    .game-area .btn--white1 {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white2 {
        position: absolute;
        top: 27%;
        left: 30%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white3 {
        position: absolute;
        top: 34%;
        left: 30%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white4 {
        position: absolute;
        top: 20%;
        left: 48%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white5 {
        position: absolute;
        top: 27%;
        left: 48%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white6 {
        position: absolute;
        top: 34%;
        left: 48%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white7 {
        position: absolute;
        top: 20%;
        left: 65%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white8 {
        position: absolute;
        top: 27%;
        left: 65%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .game-area .btn--white9 {
        position: absolute;
        top: 34%;
        left: 65%;
        transform: translate(1px, 1px);
        -ms-transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding: 5px;
        border: 2px solid #ffd700;
        cursor: pointer;
        border-radius: 3px;
    }

    .btn {
        width: 120px;
        height: 30px;
        font-family: "Roboto Condensed", sans-serif;
        color: #000000;
    }

    .btn:focus {
        outline: none;
    }

    .btn--big {
        padding: 2px;
        width: 50px;
    }

    .image1 {
        position: absolute;
        width: 3%;
        height: 4%;
        top: 43%;
        left: 48%;
    }

}

@media screen and (max-width:414px) {}